@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1 style="text-align:center">Mais sobre o Projeto</h1>
<h2>Referência de Imagens:</h2>
<ul>

    <li>
       <h3><strong>Background, Logo e Itens de Cardápio:</strong></h3>
    </li>
        <li style="margin-left:10px;">
        <h4><i>WebbApp Canva. Livre de Direitos autorais</i></h4>
    </li>
</ul>
