@{
    ViewData["Title"] = "Sobre";
}



<h1 style="text-align:center">Mais sobre o Projeto</h1>
<img src="~/imagens/senac__logo.jpg" style="align-content:center" width="100" height="100" />
<hr />
<div style="text-justify:auto">
    <p>
        <h5>
        Este projeto foi desenvolvido como obtenção de nota parcial do 4° semestre para o curso
        de <strong>Análise e Desenvolvimento de Sistemas</strong> do <a href="https://www.sp.senac.br/graduacao">Centro Universitário Senac</a>.
        </h5>
    </p>
     <p>
        <h5>
        A tecnologia utilizada para o desenvolvimento foi .Net versão 5.0. A linguagem escolhida
        foi C# com base em escolhas como: tipagem forte e documentação acessível, de modo que o desenvolvimento baseado em 
        Orientação a Objetos pudesse ter exercício prático.
        </h5>
    </p>
    <p>
        <h5>
        Em relação ao Banco de Dados, a escolha foi o SQLServer. Utilizando ferramentas como o
        EntityFramework. Em relação a autenticação, foi utilizado o Identity Framework
        para a criação de Administrador e usuário("cliente"). Dividindo os níveis de acesso.
        </h5>
    </p>
</div>
<h5>Referência de Imagens:</h5>
<ul>
        <li style="margin-left:10px;">
        <h6><i>WebbApp Canva. Livre de Direitos autorais</i></h6>
    </li>
</ul>
