@{
    ViewData["Title"] = "Criação de usuário";
}

<div class="text-center">
    <h1 class="display-4">Criação de Usuário</h1>
    <p>Sucesso! <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>