@model Ingrith.CoisaBoa.WebApp.Domain.Item

@{
    ViewData["Title"] = "Item Esgotado";
}

<h1>Esgotado</h1>

<div>
    
    <h4>Item</h4>
    <h6>Desculpe, este item está temporariamente esgotado.</h6>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        
        
    </dl>
</div>
<div>
    
    <a asp-action="Index">Retornar</a>
</div>
