@model AdminLoginInputModel
   
@{
}
<div class="text-center">
   
    <img src="~/imagens/gestao.jpg" title="Logo feita em WebApp Canva" alt="Logo Coisa Boa Restaurante" width=240 height=240 class="img-fluid">

    <p>
    <h6 >Área de Gestão</h6>
    </p>
</div>
    <div align="center">
        <div class="row">
            <div class='col-md-8'>
                 <form asp-controller="Admin" asp-action="Login" method="post">
                    <div class="form-group">
                     <label asp-for="Email" > </label>
                     <input asp-for="Email" class="form-control">
                    </div>
                      <div class="form-group">
                      <label asp-for="Password" > </label>
                      <input asp-for="Password" class="form-control">
                      </div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
               </form>
          </div> 
    </div>
 </div>
